<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ metadata.title }}</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/thumbnail.css" />
  <script src="/js/fullscreenToggler.js"></script>
</head>
<body>
	<header>
		<a href="/" class="home-link">{{ metadata.title }}</a>
    </header>
	{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
	<nav>
	<ul class="nav">
	{%- for entry in collections.all | eleventyNavigation %}
		<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
	{%- endfor %}
	</ul>
	<div class="icon_links">
		<a href="https://github.com/lkluesner" class="githublink">
			<img class="normalImg" src="/images/github-mark/github-mark-white.png" alt="">
		</a>
	</div>
	</nav>
	<main id="main">
		{{ content | safe }}
	</main>
</body>
</html>

