<ul class="postlist">
{% for post in collections.posts reversed %}
<li class="postitem">
    <a href="{{ post.url }}">
        <span class="post-title">{{ post.data.title }}</span>
        <span class="description">{{ post.data.description }}</span>
    </a>
</li>
{% endfor %}
</ul>
