<ul class="postlist">
{% for post in collections.posts %}
<li class="postitem">
    <a href="{{ post.url }}">
        <img src="https://picsum.photos/640/640/?random" alt="">
        <span class="overlay-box">
            <span class="main-title">{{ post.data.title }}</span>
            <span class="description">{{ post.data.description }}</span>
        </span>
    </a>
</li>
{% endfor %}
</ul>
