:root {

	/*
	color shamelessly ripped from -- https://github.com/ribru17/bamboo.nvim/blob/master/lua/bamboo/palette.lua -- great taste
	*/
	--contrast: #101210;
    --inverse: #ffffff;
    --bg0: #232923;
    --bg1: #2d312c;
    --bg2: #363b35;
    --bg3: #383d37;
    --bg_d: #171f17;
    --bg_blue: #68aee8;
    --bg_yellow: #dcbf84;
    --fg: #ece1c0;
    --purple: #cdcafb;
    --bright_purple: #de6bdb;
    --green: #81af58;
    --orange: #ef9946;
    --orange_a: #f49325;
    --orange_b: #de973b;
    --blue: #409cdc;
    --light_blue: #88c1e9;
    --yellow: #ceba49;
    --cyan: #68baae;
    --red: #dc4f62;
    --coral: #e07870;
    --grey: #5a5e5a;
    --light_grey: #818781;
    --diff_add: #40531b;
    --diff_delete: #893f45;
    --diff_change: #2a3a57;
    --diff_text: #3a4a67;

	--color-link: var(--light_blue);
	--color-link-active: var(--bright_purple);
	--color-link-visited: var(--blue);

	--syntax-tab-size: 2;
}
/***************************************************/
@font-face {
	font-family: titleFont;
	src: url('/../fonts/LondrinaSketch-Regular.ttf');
}

@font-face {
	font-family: markerFont;
	src: url('/../fonts/Caveat/Caveat-VariableFont_wght.ttf');
}
@font-face {
	font-family: baseFont;
	src: url('/../fonts/Noto_Serif/NotoSerif-VariableFont_wdth,wght.ttf');
	font-style: normal;
}
@font-face {
	font-family: baseFont;
	src: url('/../fonts/Noto_Serif/NotoSerif-Italic-VariableFont_wdth,wght.ttf');
	font-style: italic;
}
/***************************************************/
html,
body {
	padding: 0;
	margin: 0 auto;
	color: var(--fg);
	background-color: var(--bg_d);
	background-color: var(--bg_d);
	background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	font-family: baseFont;
}
html {
	overflow-y: scroll;
}
body {
}
/***************************************************/
header {

	max-width: 100%;
	background-color: var(--bg1);
}
.home-link {
	flex-grow: 1;
	font-size: 3.5em; /* 16px /16 */
	text-align: center;
	display:block;
	color: var(--fg);
	font-family: markerFont;
	text-decoration: none;
}
.home-link:visited {
	color: var(--fg);
}
.home-link:hover {
	color: var(--bg_yellow);
}
/* Nav */
nav {
	position: sticky;
	top: 0;
    z-index:99998;
	background-color: var(--bg1);
	max-width: 100%;
	border-bottom: .1em solid var(--bg2);
}
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-type: none;
	text-align: center;
	justify-content: center;
	position: sticky;
	top: 0;
}
.nav-item {
	display: inline-block;
	line-height: 1.5;
	font-family: baseFont;
}
.nav-item a[href]:not(:hover) {
	color: var(--orange_b);
	text-decoration: none;
}
.nav-item a[href]:hover {
	color: var(--coral);
	text-decoration: none;
}
.nav a {

	font-size: 2em;
}
.nav a[href][aria-current="page"] {
	font-weight: 600;
	line-height: 1.5;
}
.icon_links {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	display: inline-block;
	margin-right: 5%;
}
.githublink {
	height: 70%;
	padding: 10% 10% 0 10%;
	display: inline-block;
	background-color: var(--bg_d);
	border-radius: 0.5em;
	border: .1em solid var(--bg_d);
}
.githublink img {
	height: 80%;
	width: auto;
	border-radius: 0.5em;
}

img.blogImage {
	max-width: 100%;
	height: auto;
	border-radius: 0.5em;
    outline: .1em solid var(--bg2);
	display: block;
	margin: auto;
}

img.blogImage:fullscreen {
	border-radius: 0;
}

img.blogImage.medium {
	max-width: 50%;
}

img.blogImage.small {
	max-width: 35%;
}

img.blogImage.tiny {
	max-width: 25%;
}

.image-swap-container:hover .hover-image {
  /* Show the hover image on container hover */
  display: block;
}
/***************************************************/
main {
	padding: 1rem;
	max-width: 80%;
	margin-left: 10%;
}

/* Link Styles */
a {
	color: var(--color-link);
}
a:visited {
	color: var(--color-link-visited);
}
a:hover,
a:active {
	color: var(--color-link-active);
}
