


:root {

	/*
	color shamelessly ripped from -- https://github.com/ribru17/bamboo.nvim/blob/master/lua/bamboo/palette.lua -- great taste
	*/
	--bg0:  #252623;
	--bg1:  #2f312c;
	--bg2:  #383b35;
	--bg3:  #3a3d37;
    --fg:   #f1e9d2;
    --contrast: #111210;
    --inverse: #ffffff;
    --bg_d: #1c1e1b;
    --bg_blue: #68aee8;
    --bg_yellow: #e2c792;
    --purple: #aaaaff;
    --bright_purple: #df73ff;
    --green: #8fb573;
    --orange: #ff9966;
    --blue: #57a5e5;
    --light_blue: #96c7ef;
    --yellow: #dbb651;
    --cyan: #70c2be;
    --red: #e75a7c;
    --coral: #f08080;
    --grey: #5b5e5a;
    --light_grey: #838781;
    --diff_add: #40531b;
    --diff_delete: #893f45;
    --diff_change: #2a3a57;
    --diff_text: #3a4a67;

	--color-link: var(--light_blue);
	--color-link-active: var(--bright_purple);
	--color-link-visited: var(--blue);

	--syntax-tab-size: 2;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--fg);
	background-color: var(--bg_d);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 40em;
}

/* Link Styles */
a {
	color: var(--color-link);
}
a:visited {
	color: var(--color-link-visited);
}
a:hover,
a:active {
	color: var(--color-link-active);
}
