/*a {
  color:#fff;
  text-decoration:none;
}
* {
  outline:0;
  
}
body {
  margin-top:100px;
  background:#111;
  font-size:11px;
  color:#aaa;
  font-family:"Poppins", sans-serif;
  color:
}

.container  {
  max-width:1140px;
  margin:0 auto; 
  display:block;
}
.row  {
  display:flex;
  align-items:center
}*/

.postlist {
    columns: 2;
    list-style-type: none;
    -webkit-columns: 2;
    -moz-columns: 2;
    align-items:center
}
.postitem {
    text-align: center;
    margin-bottom: 0.5em;
    padding: 0;
    display: flex;
    position: relative
}


.postitem a {
    padding:0;
    width: 100%;
    height: 100%;
    z-index:9997;
}

.postitem img {
    width:100%;
    height:100%;
    float:left;
    border-radius: 10px;
 }

.overlay-box {
  position: absolute;
  bottom:0;
  width:90%;
  z-index:9998;
  left:0;
  padding:5%;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));
  border-radius: 0 0 10px 10px;
}

.meta {
  font-size:14px;
  display:block;
  
}

.main-title {
  font-size:16px;
  display:block;
  font-weight:700;
  text-shadow:0 0 1px rgba(0,0,0,0.5);
}

.description {
    color:#ccc;
    font-size:13px;
    margin-top:5px; 
    display:block;
    color: #ccc;
    max-height: 0;
    line-height: 18px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
}

.postlist a:hover .description {
    opacity:1;
        max-height: 100px;
        margin-top: 5px;
        transition: opacity 0.4s ease-out, max-height 0.9s ease-out
}

.postlist a:hover .overlay-box {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0, 1));

}
