@import url("/style.css");

.postlist {
    list-style-type: none;
    padding: 0.2em;
}
.postlist a {
    color:#fff;
    text-decoration:none;
    width: 100%;
    float: left;

}
.postlist a:hover .overlay-box {
}
/***************************************************/
.postitem {
    text-align: right;
    margin-bottom: 1.25em;
    display:flex;
    width: 100%;
    border-top: 0.2em solid var(--contrast);
    border-bottom: 0.2em solid var(--contrast);
	background-color: var(--bg_3);
}
/***************************************************/
.post-title {
    font-size: 2em;
    font-weight:500;
    text-shadow:0 0 1px rgba(0,0,0,0.5);
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-family: baseFont;
    float: left;
}
.description {
    color:#ccc;
    font-size: 0.9em;
    float: right;
    width: 60%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-right: 0.5em;
}

